.container {
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 0 auto; 
    text-align: center; 
    box-sizing: border-box;
}   

.container h1 {
    color: #003366; 
    font-size: 3em;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.container .saludo-secundario {
    color: #343a40;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 40px;
    border-bottom: 3px solid #007bff;
    padding-bottom: 20px;
}

.card {
    width: 350px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px; 
    
    background-color: #f8faff;
    border: 1px solid #cce5ff;
    border-radius: 10px;
    padding: 25px;

    box-shadow: 0 8px 16px rgba(0, 86, 179, 0.15);
    text-align: center; 
}

.card h3 {
    color: #0056b3; 
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 1px dashed #cce5ff;
    padding-bottom: 10px;
}


.card p {
    font-size: 1em;
    color: #343a40;
    line-height: 1.6;
    margin: 8px 0;
    text-align: center; 
}

.card strong {
    color: #0056b3; 
    display: inline-block; 
}

.logout-btn {
    display: block; 
    width: fit-content;
    margin: 35px auto 0 auto;
    background-color: #dc3545; 
    color: white;
    padding: 12px 30px; 
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.1s;
}

.logout-btn:hover {
    background-color: #c82333;
    transform: translateY(-2px);
}
