.container {
    text-align: center; 
}

.container h1 {
    color: #007bff;
    font-size: 2.5em;
    margin-bottom: 5px;
}

.container .saludo-secundario {
    color: #495057;
    font-size: 1.1em;
    margin-bottom: 30px;
    border-bottom: 1px solid #ced4da;
    padding-bottom: 15px;
}

.card {
    background-color: #f8f9fa;
    border: 1px solid #e2e6ea;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

.card h3 {
    color: #343a40;
    margin-top: 0;
    text-align: center;
}

.card p {
    text-align: center;
    margin: 5px 0; 
}
.logout-btn {
    display: block; 
    width: fit-content;
    margin: 25px auto 0 auto; 
    
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.1s;
}

.logout-btn:hover {
    background-color: #c82333;
    text-decoration: none;
}
